.front_blog {
	margin-bottom: 10px;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 2px;
}

.blog, .product {
	float:left;
	
}
.blog {
	width: 510px;
}

.product {
	margin-left:10px;
	width: 210px;

}