<% content_for :left do %>
	<h1>Editing category</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @category %> |
	<%= link_to 'Back', categories_path %>
<% end %>

<% content_for :right do %>
  
<% end %>